<div>
  <form [formGroup]="selectedSignupSheetForm">
    <div class="row align-items-center">
      <div class="col-12" *ngIf="api.isAdmin$ () | async">
        <button mat-raised-button color="primary"
                title="Export all known signups in a CSV format. This can be a long operation" (click)="export()">Export
        </button>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label i18n>Select an event to signup for</mat-label>
          <mat-select formControlName="selectedSignupSheet" placeholder="Please select an event to signup for"
                      #selectedSignupSheetSelect>
            <mat-option [value]="signupSheet" *ngFor="let signupSheet of signupSheets">
              {{formatDate(signupSheet.date)}} - {{signupSheet.spreadSheetTitle}}
            </mat-option>
          </mat-select>
          <ng-container *ngIf="api.isAdmin$ () | async">
            <a mat-button *ngIf="selectedSignupSheet" matSuffix mat-icon-button aria-label="Clear" routerLink="."
               [queryParams]="{q:selectedSignupSheet.spreadsheetId}">
              <mat-icon>link</mat-icon>
            </a>
          </ng-container>
        </mat-form-field>
      </div>
      <ng-container *ngIf="selectedSignupSheet">
        <div class="col-3">
          <b>
            <span i18n>Description</span>
          </b>
        </div>
        <div class="col-9">
          <p [innerHTML]="parseDescription(selectedSignupSheet.description)"></p>
        </div>
        <div class="col-12">
          <b i18n>Where</b>
          <p><a [attr.href]="getSignupLocation(selectedSignupSheet)"
                target="_blank">
            {{selectedSignupSheet.location}}</a>
          </p>
        </div>
        <div class="col-12">
          <b i18n>When</b>
          <p>{{selectedSignupSheet.date}}</p>
        </div>
        <div class="col-12">
          <mat-form-field appearance="fill">
            <mat-label i18n>Select an item you would like to sign up for</mat-label>
            <mat-select formControlName="selectedSignupItem" #selectedSignupItemSelect>
              <mat-option [value]="signupItem" *ngFor="let signupItem of selectedSignupSheet.signupItems">
                {{signupItem.item}}
              </mat-option>
            </mat-select>
            <mat-hint *ngIf="selectedSignupItem && selectedSignupItem.notes">
              <p [innerHTML]="parseDescription(
              selectedSignupItem.notes)"></p></mat-hint>
          </mat-form-field>
        </div>
        <div class="col-12" *ngIf="selectedSignupItem && selectedSignupItem.itemCount > 1">
          <mat-form-field appearance="fill">
            <mat-label i18n>How many would you like to sign up for ?</mat-label>
            <input type="number" matInput min="1" [attr.max]="selectedSignupItem.itemCount" required
                   formControlName="selectedSignupItemQuantity">
            <mat-hint>
              <span>Please select how many of the items you would like to signup
                for. {{selectedSignupItem.itemCount}} remaining</span>
            </mat-hint>
            <mat-error>
              <div
                class="error"
                *ngIf="selectedSignupItemQuantityFormControl.errors && selectedSignupItemQuantityFormControl.errors.max">
                The maximum you can signup for is {{selectedSignupItem.itemCount}}
              </div>
              <div
                i18n
                class="error"
                *ngIf="selectedSignupItemQuantityFormControl.errors && selectedSignupItemQuantityFormControl.errors.min">
                The minimum you can signup for is 1
              </div>
              <div
                i18n
                class="error"
                *ngIf="selectedSignupItemQuantityFormControl.errors && selectedSignupItemQuantityFormControl.errors.integer">
                Please enter a whole number only
              </div>
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>
      <div class="col-12" *ngIf="selectedSignupSheet && selectedSignupItem">
        <button mat-raised-button color="primary" [disabled]="!this.selectedSignupSheetForm.valid" i18n
                (click)="signup()">Signup
        </button>
      </div>
    </div>
  </form>
  <div *ngIf="api.isAdmin$ () | async">
    <hr/>
    <mat-card>
      <mat-card-header>
        <mat-card-title i18n>Signups</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="signeesDataSource">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selectedSignees.hasValue() && isAllSelected()"
                              [indeterminate]="selectedSignees.hasValue() && !selectedSignees.isEmpty() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selectedSignees.toggle(row) : null"
                              [checked]="selectedSignees.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef i18n>Item</th>
              <td mat-cell *matCellDef="let element"> {{element.item}} </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef i18n>Quantity</th>
              <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>
            <ng-container matColumnDef="itemCount">
              <th mat-header-cell *matHeaderCellDef i18n>Count</th>
              <td mat-cell *matCellDef="let element"> {{element.itemCount}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef i18n>Name</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="phoneNumber">
              <th mat-header-cell *matHeaderCellDef i18n>Phone Number</th>
              <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef i18n>E-Mail</th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="signedUpOn">
              <th mat-header-cell *matHeaderCellDef i18n>Signed up on</th>
              <td mat-cell *matCellDef="let element" [attr.title]="element.signedUpOn.toLocaleString()"> {{formatDate(
                element.signedUpOn)}} </td>
            </ng-container>
            <ng-container matColumnDef="notes">
              <th mat-header-cell *matHeaderCellDef i18n>Notes</th>
              <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <div class="footer" *ngIf="!selectedSignees.isEmpty()">
            <button mat-raised-button color="primary" (click)="openEmailReminderDialog()">
              <mat-icon>email</mat-icon>
              &nbsp;
              <span i18n>E-Mail Signees</span>
            </button>
            <button mat-raised-button color="primary" (click)="openSmsReminderDialog()">
              <mat-icon>chat</mat-icon>
              &nbsp;
              <span i18n>SMS Signees</span>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
