.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 90%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EEE;
  z-index: 10;
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  flex-direction: column;
  z-index: 10;
}
