<div class="container-fluid" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sideNav.toggle()" class="menu-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 i18n class="title">Online Signups - SSSBCSJ</h1>
  </mat-toolbar>
  <div [style.display]="mobileQuery.matches ? 'none' : 'block'" color="accent">
    <a mat-button routerLink="/signups" routerLinkActive="active" i18n>Service</a>
    <a mat-button routerLink="/devotion" routerLinkActive="active" i18n>Devotion</a>
    <a mat-button routerLink="/mySignups" routerLinkActive="active" i18n>My Signups</a>
    <a mat-button routerLink="/profile" routerLinkActive="active" i18n>Profile</a>
  </div>
  <div class="warning" (click)="openVerifyPhoneNumberDialog()" *ngIf="!user?.phoneNumber">
    <mat-icon>error</mat-icon>
    &nbsp;
    <span i18n>Please do provide a phone number to reach you at. Click here</span>
  </div>

  <mat-sidenav-container
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sideNav
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/signups" routerLinkActive="active" i18n>Service</a>
        <a mat-list-item routerLink="/devotion" routerLinkActive="active" i18n>Devotion</a>
        <a mat-list-item routerLink="/mySignups" routerLinkActive="active" i18n>My Signups</a>
        <a mat-list-item routerLink="/profile" routerLinkActive="active" i18n>Profile</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<app-api-indicator></app-api-indicator>
