<div class="container-fluid" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sideNav.toggle()" class="menu-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 i18n class="title">Sri Sathya Sai Baba Center of Central San Jose - Online Signups</h1>
  </mat-toolbar>

  <mat-sidenav-container
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sideNav
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [opened]="mobileQuery.matches === false"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/signups" i18n>Service</a>
        <a mat-list-item routerLink="/signups" [queryParams]="{tag:'devotion'}" i18n>Devotion</a>
        <a mat-list-item routerLink="/signups" [queryParams]="{tag:'sse'}" i18n>SSE</a>
        <a mat-list-item routerLink="/profile" i18n>Profile</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<app-api-indicator></app-api-indicator>
