/* You can add global styles to this file, and also import other style files */
.full-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #EEEEEE;
}

@import "~@ng-select/ng-select/themes/material.theme.css";
